body {
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	background: #fefaf6;
	background: #0f1825;
	scroll-behavior: smooth;
}
body::before {
	content: '';
	position: fixed;
	/* z-index: 4; */
	width: 100%;
	height: 100%;
	opacity: .1;
	background: linear-gradient(#7f04f1, #ffb011);
	clip-path: circle(18% at right 60%);
}
body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	background: linear-gradient(#7f04f1, #ffb011);
	clip-path: circle(10% at 5% 5%);
}
.intro {
	max-width: 60vw;
	text-align: left;

	color: #8993b1;
	padding-left: 10vw;
	padding-top: 13vw;
	transition: .5s;
}
.extraIntro {
	width: 60vw;
	padding: 30px;
	margin: 150px auto;

	font-weight: 400;
	font-style: italic;
	font-size: 2em;
	margin-top: -10px;
	color: #8993b1;
	font-family: var(--font-sans);
	/* font-size: var(--fz-xl); */
}
.name {
	color: #ccd6f6;
	font-size: 50px;
}
.profile {
	margin-top: 0;
	height: 700PX;
	width: 100vw;
	background-size: 40vw;
	background-position: right;
	background-image: url('/src/assets/profile.png');
	background-color: #0e0914;
	/* background-color: #fbe5ef; */
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.btn {
	padding-top: 50px;
}
.projects {
	margin-top: 5vh;
	width: fit-content;
	margin: auto;
}
.heading {
	width: fit-content;
	margin: auto;
	color: #8993b1;
	line-height: 40px;
}
.borderBottom {
	border-bottom: 3px solid #0282bd;
	width: 12vw;
	margin: 10px auto;
	border-radius: 10px;
}
