body {
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body::before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background: linear-gradient(#7f04f1, #ffb011);
	clip-path: circle(18% at right 60%);
}
body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: linear-gradient(#7f04f1, #ffb011);
	clip-path: circle(10% at 5% 5%);
}
.intro {
	max-width: 60vw;
	text-align: left;

	color: #8993b1;
	padding-left: 10vw;
	padding-top: 13vw;
	transition: 0.5s;
}

.tagline {
	width: 100%;
	padding: 130px 0;
	margin: 150px auto 100px;
}
.extraIntro {
	width: 60%;
	padding: 30px;
	margin: auto;

	font-weight: 400;
	font-style: italic;
	font-size: 2em;
	margin-top: -10px;
	color: #8993b1;
	font-family: var(--font-sans);
}
.name {
	color: #ccd6f6;
	font-size: 50px;
}
.profile {
	margin-top: 0;
	height: 650px;
	width: 100vw;
	background-size: 40vw;
	background-position: center;
	background-image: url('/src/assets/profile.png');

	background-color: #0e0914;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: 55vw;
	background-position-y: 10vh;
}
.profileImage {
	display: none;
}
.btn {
	padding-top: 50px;
}
.projects {
	margin-top: 5vh;
	width: fit-content;
	margin: auto;
}
.heading {
	width: fit-content;
	margin: auto;
	color: #8993b1;
	line-height: 40px;
}
.borderBottom {
	border-bottom: 3px solid #0282bd;
	width: 200px;
	margin: 10px auto;
	border-radius: 10px;
}
.line {
	width: 80%;
	height: 1px;
	margin: 150px auto;
}
.resumeBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.resumeBtn i {
	margin-left: 10px;
	font-size: 20px;
}

@media screen and (max-width: 1100px) {
	.profile {
		background-position: right bottom;
		background-size: 50vw;
	}
}
@media screen and (max-width: 800px) {
	.profile {
		background-position: right bottom;
		background-size: 50vw;
		background-attachment: fixed;
	}
	.extraIntro {
		width: 70vw;
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 650px) {
	.profile {
		height: 80vh;
		background-size: 100vw;
		background-position: center;
		background-attachment: fixed;
		background-blend-mode: soft-light;
		background-image: url('https://github.com/himrd95/portfolio/blob/main/public/developer.gif?raw=true');
	}
	.intro {
		max-width: 95% !important;
		text-align: center;
		padding: 10vh 0 !important;
		font-size: 0.9em;
		margin: 5vh auto;
	}
	.name {
		font-size: 42px;
	}
	.intro h1:nth-child(2) {
		height: 80px;
	}
}
