.footer{
	width: 100%;
	padding: 10vh 0;
	/* background: #081220; */
}
.container {
	width: fit-content;
	margin: auto;
}
.paragraph {
	width: 45vw;
	font-size: 1.2em;
	margin: auto;
}
.contactOptions {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contactOptions i {
	font-size: 50px;
	/* color: blanchedalmond; */
	margin: 20px 45px;
}

.contactOptions i:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
