.navContainer {
	width: 100%;
	padding: 15px;
	position: fixed;
	z-index: 20;
	top: 0;
	transition: top 0.6s;
}
.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.logo img {
	position: absolute;
	/* top: -15px; */

	width: 45px;
	/* height: 50px; */
	border-radius: 40px;
}
.navbar {
	width: 80%;
	margin: auto 10%;
	height: fit-content;

	display: flex;
	/* opacity: .4; */
	justify-content: space-between;
	align-items: center;
}
.links {
	width: fit-content;
}
.links a {
	margin: 0 15px;
	transition: 0.4s;
	display: inline-block;
	/* color: #000; */
	text-decoration: none;
}
.links a:hover {
	color: #00a0a0;
}
.links a::after {
	content: '';
	display: block;
	width: 0;
	margin-top: 5px;
	height: 2px;
	background: #00a0a0;
	transition: width 0.4s;
}
.links a:hover::after {
	width: 100%;
}
.modeButton {
	font-size: 30px;
	border: none;
	background: none;
	transform: 0.5s;
}
.bars {
	position: relative;
	width: 50px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	z-index: 99;
	cursor: pointer;
}
.bars div {
	width: 30px;
	height: 5px;
	margin: 2px;
	background: #03b8d8;
	border-radius: 2.5px;
	transition: 1s;
	transform-origin: left;
}
@media screen and (max-width: 850px) {
	.links a {
		margin: 0 8px;
		transition: 0.3s;
	}
}
@media screen and (max-width: 650px) {
	.links {
		display: none;
	}
	.bars {
		display: flex;
	}
	.modeButton {
		font-size: 25px;
	}
	.bars div {
		width: 25px;

		height: 4px;
		border-radius: 2px;
	}
}
